<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Crawler" packages="">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.nnn} [%p] [%c{3}:%t] - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="MyFile" fileName="logs/crawler.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.nnn} [%-5p] [%c{3}:%t] - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="MyFile" level="error"/>
            <AppenderRef ref="Console" level="info"/>
        </Root>
    </Loggers>
</Configuration>